<launch>
  <param name="use_PID" value="true"/>
  <!-- <node pkg="pink_fundamentals" type="avf" name="apf" output="screen"/> -->
  <node pkg="pink_fundamentals" type="execute_plan_server" name="execute_plan_server" output="screen"/>
  <node name="align_server" pkg="pink_fundamentals" type="align_server"/>
  <node name="PID_drive" pkg="pink_fundamentals" type="PID_drive"/>
</launch>

